body {
	margin-left: 30px;
	margin-right: 30px;
}

h1 {
	color: #42c5f5;
	font-family: poppins, sans-serif;
	margin-bottom: 0px;
}

h3 {
	color: #42c5f5;
	font-family: poppins, sans-serif;
	margin-bottom: 0px;
}

h4 {
	font-family: poppins, sans-serif;
	font-weight: lighter;
	color: slategray;
}

p {
	font-family: poppins, sans-serif;
	font-weight: lighter;
	font-size: x-small;
	margin: 8px;
}

.subtitle{
	margin-top: 10px;
	margin-bottom: 3px;
}

.line {
	background-color: gainsboro;
	height: 2px;
	width:98%;
	margin-top:0;
}

.frame {
	padding: 10px;
	border-radius: 60px;
	display: inline-flex;
	box-shadow: 1px 3px 5px lightslategray;
	margin-bottom: 25px;
}

.button-area{
	display: inline-flex;
	margin-bottom: 2vh;
	margin-top: 3px;
}

.button {
	background-color: #42c5f5;
	color: white;
	width: 5em;
	padding-left: 2px;
	padding-right: 2px;
	border: 1px;
	border-style: solid;
	border-radius: 13px;
	text-align: center;
	margin-right: 4px;
}

.button:hover {
	cursor: pointer;
	opacity: 55%;
}

.button-2{
	border-color: #42c5f5;
	background-color: white;
	color: #42c5f5;
}

a {
	text-decoration: none;
	color:#42c5f5;
}